tignore

*.o
*.ko
*.obj
*.elf

*.d

*.gch
*.pch

*.ilk
*.map
*.exp

*.dSYM/
*.su
*.idb
*.pdb

*.dll
*.so
*.so.*
*.dylib

*.lib
*.a
*.la
*.lo

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
